.navbar-container {
  width: 100%;
  background-color: #0e0c14;
  min-height: 70.81px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  gap: 20px;
}
.navbar-sign {
  display: flex;
  align-items: center;
}

.navbar-toggle-btn {
  position: fixed; /*force to always stay at right  */
  top: 1rem;
  right: 1rem;

  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
}

.navbar-toggle-btn .navbar-toggle-btn-bar {
  height: 4px;
  width: 100%;
  border-radius: 100px;
  background-color: black;
  /* background-color: rgb(247, 245, 243); */
  color: white;
}

@media (max-width: 1268px) {
  .navbar-toggle-btn {
    display: flex;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.active {
    display: block;
    align-items: center;
    animation: slideDown 0.5s forwards;
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 0;
  }
  .navbar-sign {
    display: none;
  }
}
@media (max-width: 800px) {
  .navbar-logo {
    display: none;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
